.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--color-green);
  padding: 6px 14px;
  font-size: pxToRem(14);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  border-radius: 100px;
  backdrop-filter: blur(5px);
  color: var(--color-green);
}

.text-container {
  position: relative;
  overflow: hidden;
  & > span {
    display: inline-block;
  }
}

.text {
  position: absolute;
  top: 0;
  left: 0;
}

.fill {
  background-color: var(--color-green);
  color: var(--color-neutral-100);
}

@mixin mediaMin768 {
  .button {
    padding: pxToRem(16) pxToRem(32);
    font-size: pxToRem(14);
  }
}
