.font-m-plus-regular{
  font-family: var(--font-m-plus);
  font-weight: 400;
}

.font-m-plus-medium{
  font-family: var(--font-m-plus);
  font-weight: 500;
}

.font-m-plus-extra-bold{
  font-family: var(--font-m-plus);
  font-weight: 800;
}