.cta {
  max-width: 1200px;
  background: var(--gradient-color);
  color: var(--color-neutral-100);
  border-radius: pxToRem(24);
  padding: pxToRem(70) pxToRem(80);
  margin: 0 auto pxToRem(100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: pxToRem(55);
  letter-spacing: -0.07em;
  line-height: 1.1;
  font-weight: var(--font-regular);
  max-width: 560px;
  text-wrap: balance;
}

.button {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-100);
  letter-spacing: -0.02em;
  border-radius: pxToRem(48);
  box-shadow: 0 pxToRem(8) pxToRem(15) rgba(0, 0, 0, 0.12);
  padding: pxToRem(12) pxToRem(36);
  font-size: pxToRem(20);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  min-width: 220px;
  text-align: center;
}
