.hero {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.video video {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.25;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 768px;
}

.title {
  font-size: pxToRem(30);
  font-weight: var(--font-extra-bold);
  line-height: 1.1;
  text-wrap: balance;
  margin-bottom: 30px;
}

.subtitle {
  font-size: pxToRem(14);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.wordWrapper {
  display: inline-block;
  position: relative;
  margin-right: 12px;
  overflow: hidden;
  line-height: 0.8;
}

.highlightedWord {
  position: relative;
  z-index: 2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.underline {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient-color);
  z-index: 1;
  transform-origin: left;
}

.char {
  display: inline-block;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: black;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.video-modal {
  width: 100%;
  max-width: 1600px;
  border-radius: 10px;
}

/* Botón para cerrar */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

@mixin mediaMin768 {
  .title {
    font-size: pxToRem(48);
  }
  .subtitle {
    font-size: pxToRem(18);
    margin-bottom: 20px;
  }

  .hero {
    align-items: flex-end;
  }
  .content {
    padding-bottom: 10%;
  }

  .underline {
    height: 10px;
  }

  .video-modal {
    width: 80%;
  }
}

@mixin mediaMin1024 {
  .title {
    font-size: pxToRem(60);
  }
}
