.image-wrapper {
  position: relative;
  aspect-ratio: 4/3;
  border-radius: pxToRem(16);
  overflow: hidden;
  margin-bottom: pxToRem(18);
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
}

.content {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: pxToRem(16);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: pxToRem(6);
}

.categories {
  display: flex;
  gap: pxToRem(8);
}

.category {
  font-size: pxToRem(10);
  text-transform: uppercase;
  padding: pxToRem(4) pxToRem(12);
  border-radius: pxToRem(24);
  background: var(--gradient-gray);
  border: 1px solid var(--color-neutral-80);
}

@mixin mediaMin768 {
  .image-wrapper {
    border-radius: pxToRem(24);
  }

  .title {
    font-size: pxToRem(18);
  }
}

@mixin mediaMin1024 {
  .title {
    font-size: pxToRem(22);
  }
}
