.switcher {
  display: flex;
  align-items: center;
  gap: 6px;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.separator {
  color: var(--color-neutral-20);
  font-family: var(--font-medium);
  font-size: pxToRem(14);
  user-select: none;
}

.link {
  font-size: pxToRem(14);
  font-family: var(--font-medium);
  color: var(--color-neutral-20);
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-neutral-0);
}

.active {
  color: var(--color-neutral-0);
  pointer-events: none;
}
