.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--color-neutral-0);
  padding: 2px 32px 2px 1px;
  font-size: pxToRem(14);
  font-weight: var(--font-extra-bold);
  text-transform: uppercase;
  border-radius: 100px;
  backdrop-filter: blur(5px);
}

@mixin mediaMin768 {
  .button {
    padding: 6px 32px 6px 4px;
    font-size: pxToRem(16);
  }
}
