.wrapper {
  margin: 60px auto;
  width: 100%;
}

.ai-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: pxToRem(32);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  text-align: center;
}

.paragraph {
  font-size: pxToRem(18);
  color: var(--color-neutral-10);
  max-width: 600px;
  text-align: center;
  margin-bottom: 60px;
}
