.portfolioGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: pxToRem(24);
  margin-bottom: 120px;
  z-index: 1;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: pxToRem(70);
}

.filters {
  display: flex;
  justify-content: flex-start;
}

@mixin mediaMin768 {
  .portfolioGrid {
    grid-template-columns: 1fr 1fr;
    gap: pxToRem(40);
  }

  .filters {
    justify-content: flex-end;
  }
}

@mixin mediaMin1024 {
  .portfolioGrid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: pxToRem(40);
  }
}
