.footer {
  background: var(--gradient-gray);
  padding-top: pxToRem(30);
  padding-bottom: pxToRem(30);
}

.up-footer {
  margin-bottom: pxToRem(60);
}

.up-footer,
.down-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  gap: pxToRem(44);
}

.down-footer {
  align-items: center;
}

.locations {
  display: flex;
  gap: pxToRem(70);
}

.location {
  max-width: 160px;
}

.country {
  text-transform: uppercase;
  font-size: pxToRem(20);
  font-weight: var(--font-bold);
  line-height: 1;
}

.city {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.address {
  color: var(--color-neutral-20);
  font-size: pxToRem(16);
}

.socialLinks,
.info {
  display: inline-flex;
  flex-direction: column;
  gap: pxToRem(24);
}

.info {
  flex-direction: row;
}

.socialLink {
  text-transform: uppercase;
  font-size: pxToRem(16);
  font-weight: var(--font-bold);
  display: inline-flex;
  align-items: center;
  gap: pxToRem(6);
}

.info a {
  display: inline;
  font-size: pxToRem(14);
  font-weight: var(--font-extra-bold);
}



.legalLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.link {
  color: var(--color-neutral-10);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.logo {
  position: relative;
  width: 100px;
  height: 38px;
}

.link:hover {
  color: var(--color-green);
}

.logo img{
  width: auto;
  height: auto;
  object-fit: contain;
}

/* TABLET */
@mixin mediaMin768 {
  .footer {
    padding-top: pxToRem(60);
    padding-bottom: pxToRem(60);
  }

  .up-footer {
    margin-bottom: pxToRem(120);
  }

  .up-footer,
  .down-footer {
    flex-direction: row;
    gap: pxToRem(24);
    align-items: flex-start;
  }

  .info a {
    font-size: pxToRem(18);
  }
  .socialLink {
    font-size: pxToRem(20);
    gap: pxToRem(6);
  }

  .country {
    font-size: pxToRem(24);
  }

  .socialLinks,
  .info {
    display: flex;
    flex-direction: row;
    gap: pxToRem(60);
  }

  .legalLinks {
    flex-direction: row;
    gap: 1rem;
  }
}
