.imageCarrousel {
  padding-top: 40px;
  margin: 120px 0;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 220vw;
  overflow: hidden;
  gap: 20px;
  height: 350px;
}

.imageCard {
  border-radius: 18px;
  position: relative;
  width: 800px;
  aspect-ratio: 1;
  overflow: hidden;
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
}

@mixin mediaMin768 {
  .slider {
    display: flex;
    width: 120vw;
    overflow: hidden;
    gap: 24px;
    height: 450px;
  }
}
