.video {
  position: relative;
  width: 100%;
  aspect-ratio: 9/16;
  z-index: 0;
  cursor: none;
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
  z-index: 1;
}

.hide-poster {
  display: none;
}

.play-button-mobile {
  position: absolute;
  bottom: 20px;
  right: 20px;
  pointer-events: none;
  z-index: 2;
}

.play-button {
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
