:root {
  --color-red: #ec3449;
  --color-orange: #f38d4e;
  --color-green: #51ecae;

  /* Backgrounds */
  --color-neutral-0: #f5f5f5;
  --color-neutral-10: #d3d3d3;
  --color-neutral-20: #acacac;
  --color-neutral-70: #414141;
  --color-neutral-80: #353535;
  --color-neutral-90: #1a1c1c;
  --color-neutral-100: #0f1214;

  --color-error: #ff4d4f;
  --color-success: #8cf75e;
  --color-warning: #f3dc8d;

  --gradient-color: linear-gradient(
    135deg,
    var(--color-green) 0%,
    var(--color-orange) 50%,
    var(--color-red) 150%
  );

  --gradient-gray: linear-gradient(
    -45deg,
    var(--color-neutral-80) 0%,
    var(--color-neutral-100) 100%
  );

  --gradient-navbar: linear-gradient(
    0deg,
    transparent 0%,
    var(--color-neutral-100) 80%
  );
}
